{% extends 'base.html.twig' %}

{% block title %}PFE List
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="row">
		{% for row in res %}
			<div class="col-4">
				{% if loop.index%2==0 %}
					<div class='card text-white bg-dark mb-3' style="max-width:18rem">
					{% else %}
						<div class='card text-dark bg-light mb-3' style="max-width:18rem">
						{% endif %}
						<div class='card-header'>
							{{row.title}}</div>
						<div class='card-body'>{{row.student}}</div>

						<div class="card-text">Entreprise :
							{{row.entreprise}}
						</div>

					</div>
				</div>
			{% endfor %}
			<div class="col-6 d-flex justify-content-center mt-5">
				<a class="btn btn-dark" href="{{path('addPFE')}}" }>Add PFE</a>
			</div>
			<div class="col-6 d-flex justify-content-center mt-5">
				<a class="btn btn-dark" href="{{path('printEntreprise')}}" }>View Entreprise List</a>
			</div>
		</div>
		>
	{% endblock %}
